@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-brand-primary: #FF0054;
  --color-brand-secondary: #A328D6;
  --color-brand-accent: #A328D6;
  
  --color-premium: #050505;

  --animate-gradient-slow: gradient-anim 5s ease infinite;

  @keyframes gradient-anim {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-sans);
    @apply antialiased selection:bg-[#FF0054]/30 overflow-x-hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-linear-to-b from-[#FF0054] to-[#A328D6] rounded-full hover:brightness-125;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    @apply font-black tracking-[-0.06em] uppercase leading-[0.95];
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-linear-to-r from-[#FF0054] to-[#A328D6] py-1;
}

.premium-btn {
  @apply bg-linear-to-r from-[#FF0054] to-[#A328D6] text-white shadow-[0_10px_30px_rgba(255,0,84,0.3)] hover:shadow-[0_15px_40px_rgba(163,40,214,0.5)] hover:scale-105 active:scale-95 transition-all duration-300 flex items-center justify-center gap-2 font-bold cursor-pointer;
}

.premium-border {
  position: relative;
  background: #000000;
  background-clip: padding-box;
  border: 1px solid transparent;
}

.premium-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #FF0054, #A328D6);
}

.pink-card {
  @apply bg-[#0F0108] rounded-[32px] p-8 transition-all relative overflow-hidden;
  border: 2px solid #FF0054;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.8);
}

.pink-card:hover {
  @apply border-[#A328D6];
  box-shadow: 0 0 30px rgba(255, 0, 84, 0.2);
  transform: translateY(-4px);
}


.icon-box {
  @apply w-12 h-12 rounded-lg bg-[#FF0054] flex items-center justify-center text-black mb-8 shadow-[0_0_15px_rgba(255,0,84,0.5)];
}

.brand-glow {
  @apply bg-linear-to-r from-[#FF0054] to-[#A328D6] opacity-20 blur-[100px] rounded-full;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
